* {
  margin: 0px;
}

.city-section {
  margin-bottom: 60px;
  width: 100%;
}

.city-heading {
  font-size: 30px;
  margin: 20px 0px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  text-align: left;
}

header {
  background-color: rgb(249, 249, 249);
  width: 98%;
  padding: 0px 0px 25px 0px;
  margin: 0px auto;
  border-radius: 15px;
}

#logo img {
  width: 100%;
}

.search-bar {
  display: none;
}

#listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.listing-row {
  width: 80%;
  margin: 10px auto;
}

.listing-row img {
  width: 100%;
}

.listing-card {
  margin-bottom: 15px;
}

.listing-row a {
  margin-bottom: 50px;
}
#listings img {
  border-radius: 8px;
}

main {
  height: 250px;
  background-color: rgb(237, 250, 255);
  border-radius: 15px;
  margin: 75px 0px 75px 0px;
}

main h1 {
  text-align: center;
  padding: 35px 0px 25px 0px;
}

footer {
  height: 250px;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin: auto;
  border-radius: 15px;
}

#email-suggestions {
  width: 100%;
  height: 75px;
}

#container {
  width: 95%;
  margin: auto;
}

#post-listing {
  padding: 50px;
  border-radius: 20px;
  margin-bottom: 50px;
}

#post-listing h1 {
  text-align: center;
}

#post-listing a {
  display: block;
  margin: auto;
  width: 40%;
}

.heading {
  color: rgb(58, 183, 255);
}

.city-heading {
  color: rgb(0, 132, 209);
}

#submit-listing {
  width: 50%;
  margin: auto;
  text-align: center;
   background-color: rgb(240, 240, 240);
   border-radius: 15px;
}

#submit-listing a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: black;
  
}

#submit-listing a:hover {
   background-color: rgb(145, 145, 145);
   border-radius: 15px;
}

@media screen and (min-width: 850px) {
  .listing-row {
    display: flex;
    flex-wrap: wrap;
  }

  .city-section {
    margin: 0px;
    width: 100%;
  }

  .listing-card {
    margin-bottom: 5px;
    width: 95%;
  }

  .city-heading {
    font-size: 30px;
    margin: 0px 0px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    text-align: left;
  }

  .city-heading {
    color: rgb(0, 132, 209);
  }
  #listings {
    width: 70%;
    margin: auto;
  }
  .listing img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  #post-listing a {
    display: block;
    margin: auto;
    width: 10%;
  }
  .search-bar {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 999px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    max-width: 905px;
    margin: 15px auto;
  }

  .search-bar input,
  .search-bar select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 999px;
    outline: none;
    font-size: 14px;
  }

  .search-bar button {
    background-color: rgba(51, 51, 253, 0.753);
    color: white;
    border: none;
    border-radius: 999px;
    padding: 10px 20px;
    cursor: pointer;
  }

  #emailForm {
    width: 35%;
  }

  #logo img {
    width: 80%;
    margin: auto;
    display: block;
    height: 550px;
  }

  #areas {
    width: 50%;
  }

  #submit-listing {
  width: 15%;
  margin: auto;
  text-align: center;
   background-color: rgb(240, 240, 240);
   border-radius: 15px;
}

#submit-listing a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: black;
}

#submit-listing a:hover {
   background-color: lightgray;
   border-radius: 15px;
}
}
