#logo{
    margin: auto;
    max-width: 300px;
}

#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

#content{
    width: 95%;
    margin: auto;
    background-color: aliceblue;
}